@import "tailwindcss";

@theme {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --width-1600: 1600px;
  --width-400: 400px;
  --width-450: 450px;
  --width-210: 210px;
  --width-550: 550px;
  --width-260: 260px;
  --width-650: 650px;

  --height-600: 600px;
  --height-280: 280px;
  --height-900: 900px;
  --height-458: 458px;
  --height-88vh: 88vh;

  --color-primary: rgb(22, 24, 35);
  --background-color-primary: #f1f1f2;
  --background-color-blur: #030303;

  --background-image-blurred-img: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsaaJ7s4lqcBF4IDROVPzrlL5fexcwRmDlnuEYQenWTt1DejFY5kmYDref2a0Hp2eE4aw&usqp=CAU");
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="submit"]:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  button:not(:disabled):hover,
  [type="button"]:not(:disabled):hover,
  [type="submit"]:not(:disabled):hover {
    opacity: 0.75;
  }

  button:disabled,
  input:disabled,
  select:disabled,
  textarea:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

/* Basic CSS Styles */
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.videos::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(237, 237, 237);
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
